.main {
    background-color: green;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* This creates two columns */
    gap: 10px;
    /* This is the gap between the grid items */
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 250px;
}
.Selection {
    margin: auto;
    padding: auto;
    text-align: center;
}
.Add-Items-Container {
    text-align: center;
    margin-right: 10px;
}
.Add-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2em;

}
.Add-Remove-Items{
    text-align: center;
    margin-right: 2em;
}
button {
    display: block;
    margin:auto;
    padding: auto;

}